

.prototype {
  height: 600px;
  vertical-align: top;
  margin-top: 0;
}

#prototype {
  font-size: 60px;
}
.circle {
    height: 100px;
    width: 100px;
    background-color: #cbff00;
    border-radius: 50%;
    position: relative;
  }

  #intro {
    font-size: 60px;
    color: #fbfbfb;
    text-decoration: underline;
    text-align: left;
  }

  #intro-bg {
    background-image: url("../img/intro-bg.jpg");
    height: 100%;
    width: auto; 
    
}
@media (min-width: 576px){
  #intro-bg{
    height: 100%;
  }
}
@media (min-width: 576px){
  #section-one{
    height: 100%;
  }
}