



#team-circle {
  height: 400px;
  width: 400px;
}

#read-more{
  background-color: #cbff00;
  color: #303227;
  font-size: large;
  font-weight: bold;
}

.about-text {
  font-size: medium;
}
#about-us {
  font-size: 60px;
}
.request {
  background-color: #cbff00;
  height: 300px;
  margin-top: 0;
  text-align: center;
  
}
 #request-access {
  font-size: 50px;
 }

 #request-button{
   background-color: #303227;
   color: #cbff00;
   font-size: x-large;
 }
.prototype {
  height: 600px;
  vertical-align: top;
  margin-top: 0;
}

#prototype {
  font-size: 60px;
}
.circle {
    height: 100px;
    width: 100px;
    background-color: #cbff00;
    border-radius: 50%;
    position: just;
  }

  #intro {
    font-size: 60px;
    color: #fbfbfb;
    text-decoration: underline;
    text-align: left;
  }

  #intro-bg {
    background-image: url("../img/intro-bg.jpg");
    height: 100%;
    width: auto; 
    
}
@media (min-width: 576px){
  #intro-bg{
    height: 100%;
  }
}
@media (min-width: 576px){
  #section-one{
    height: 100%;
  }
}